<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="plp.project02"
      android:versionCode="1"
      android:versionName="1.0" android:installLocation="auto">
    <uses-sdk android:minSdkVersion="8" />
    
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="true">
        <activity android:name="plp.project02.game.Main"
                  android:label="@string/app_name"
                  android:configChanges="orientation|keyboardHidden">
        </activity>
        
        <activity android:name="plp.project02.game.MainMenuActivity"
                  android:label="@string/app_name"
                  android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>